body
{
	background-color: #169AB2;
}
input
{
	background-color: silver;
	color: darkred;
	font-family: sans-serif;
	font-size: 20px;
}
#form1,#form2,#form3,#form4,#form5,#form6,#form7
{
	position: absolute;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	left: 5%;
	top: 25%;

}
#form2
{
	left: 25%;
}
#form3
{
	left: 45%;
}
#form4
{
	left: 66%;
}
#form5
{
	top: 70%;
}
#form6
{
	top: 70%;
	left: 25%;
}
#form7
{
	top: 70%;
	left: 45%;
}